body {
  background-color: #333;
  text-decoration: none;
  margin: 0;
  padding: 0;
  outline: 0;
}
.main{
  display: flex;
  justify-content: space-between;
}
a {
  text-decoration: none;
}
.btn {
  height: 100%;
  width: 30%;
  background-color: #dde2e3;
}
.text{
  height: 100%;
  width: 30%;
}
.center {
  height: 100%;
  width: 30%;
  margin-top: 20px;
}
.list{
  display: flex;
  justify-content: space-around;
}
.list > a{
  font-size: 130px;
  color: white;
}
.send {
  height: 100vh;
  text-align: center;
  justify-content: center;
}
.form_text{
  display: none;
}
